<div class="container-fluid mt-5">
  <div class="row justify-right">
    <div class="col-auto">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCierre"
        data-bs-dismiss="modal">
        <i class="fas fa-plus-circle fa-lg"></i>
        Nuevo Cierre</button>
    </div>
  </div>

  <div *ngIf="messageCierres" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ messageCierres }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Efectivo Día</th>
        <th>Bancos Día</th>
        <th>Cartera Día</th>
        <th>Inventario Hoy</th>
        <th>Inventario Ayer</th>
        <th>Gastos Día</th>
        <th>Cash Margin</th>
        <th>Efectivo Total</th>
        <th>Bancos Total</th>
        <th>Cartera Total</th>
        <th>Cierre Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cierre of this.cierres">
        <td>{{ cierre.fecha }}</td>
        <td> {{ cierre.efectivo | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.davivienda +cierre.bancolombia | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.cartera | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.inventario_hoy | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.inventario_ayer | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.ruta +cierre.aux_ops + cierre.cogs | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.cash_margin | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.efectivo_total | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.davivienda_total + cierre.bancolombia_total | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.cartera_total | currency:'USD':'symbol':'1.2-2' }}</td>
        <td> {{ cierre.cierre_total | currency:'USD':'symbol':'1.2-2' }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="editCierre(cierre)" data-bs-dismiss="modal"
            data-bs-toggle="modal" data-bs-target="#editCierre">
            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="newCierre" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCierre">Nuevo Cierre</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="fechaNewCierre">
          </div>
          <br>
          <div class="text-right"> <!-- Alineación a la derecha -->
            <button class="btn btn-primary" (click)="newCierre()">Nuevo Cierre</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editCierre" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Cierre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-auto">
            <h5>Cierre del día {{currentCierre.fecha}}</h5>
            <div class="row">
              <div class="col-auto">
                <h6 class="text-success text-center">Ingresos</h6>
                <div class="form-group mb-3">
                  <label for="efectivo">Efectivo</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.efectivo | moneyFormat" >
                </div>
                <div class="form-group mb-3">
                  <label for="davivienda">Davivienda</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.davivienda | moneyFormat">
                </div>
                <div class="form-group mb-3">
                  <label for="bancolombia">Bancolombia</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.bancolombia | moneyFormat">
                </div>
                <div class="form-group mb-3">
                  <label for="cartera">Cartera</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.cartera | moneyFormat">
                </div>
                <div class="form-group mb-3">
                  <label for="inventario_hoy">Inventario Hoy</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.inventario_hoy | moneyFormat">
                </div>
                <label class="text-success"><b>Total: {{ (currentCierre.efectivo + currentCierre.davivienda + currentCierre.bancolombia + currentCierre.cartera + currentCierre.inventario_hoy) | moneyFormat }}</b></label>
              </div>
              <div class="col-auto">
                <h6 class="text-danger text-center">Gastos</h6>
                <div class="form-group mb-3">
                  <label for="ruta">Ruta</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.ruta | moneyFormat">
                </div>
                <div class="form-group mb-3">
                  <label for="aux_ops">Auxiliar Ops</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.aux_ops | moneyFormat">
                </div>
                <div class="form-group mb-3">
                  <label for="cogs">COGS</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.cogs | moneyFormat">
                </div>
                <div class="form-group mb-3">
                  <label for="inventario_ayer">Inventario Ayer</label>
                  <input type="text" class="form-control" [ngModel]="currentCierre.inventario_ayer | moneyFormat">
                </div>
                <br><br><br>
                <label class="text-danger"><b>Total: {{ (currentCierre.ruta + currentCierre.aux_ops + currentCierre.cogs + currentCierre.inventario_ayer) | moneyFormat }}</b></label>
              </div>
            </div>
            <br>
            <div class="row">
              <label class="text-center text-primary"><b>Cash Margin {{ currentCierre.cash_margin | moneyFormat }}</b></label>
            </div>
          </div>
          <div class="col-auto">
            <h5>Cierre de Total</h5>
            <div class="form-group mb-3">
              <label for="efectivo_total">Efectivo Total</label>
              <input type="number" class="form-control" [(ngModel)]="currentCierre.efectivo_total">
            </div>
            <div class="form-group mb-3">
              <label for="davivienda_total">Davivienda Total</label>
              <input type="number" class="form-control" [(ngModel)]="currentCierre.davivienda_total">
            </div>
            <div class="form-group mb-3">
              <label for="bancolombia_total">Bancolombia Total</label>
              <input type="number" class="form-control" [(ngModel)]="currentCierre.bancolombia_total">
            </div>
            <div class="form-group mb-3">
              <label for="cartera_total">Cartera Total</label>
              <input type="text" class="form-control" [ngModel]="currentCierre.cartera_total | moneyFormat">
            </div>
            <div class="form-group mb-3">
              <label for="cartera_total">Inventario Hoy</label>
              <input type="text" class="form-control" [ngModel]="currentCierre.inventario_hoy| moneyFormat">
            </div>
            <div class="form-group mb-3">
              <label for="bancolombia_total">Deuda Total</label>
              <input type="number" class="form-control" [(ngModel)]="currentCierre.deuda_total">
            </div>
            <div class="form-group mb-3">
              <label for="cierre_total">Cierre Total</label>
              <input type="text" class="form-control" [ngModel]="currentCierre.efectivo_total + currentCierre.davivienda_total + currentCierre.bancolombia_total + currentCierre.cartera_total  +currentCierre.inventario_hoy - currentCierre.deuda_total | moneyFormat">
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <label class="text-center text-warning">{{currentCierre.cierre_total  + currentCierre.cash_margin  | moneyFormat}} </label>
        </div> -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCierre()">
          <i class="fas fa-trash fa-lg"></i>
        </button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" (click)="saveCierre()" data-bs-dismiss="modal">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
