<div class="container-fluid mt-5">
  <!-- Cuadro de búsqueda -->
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Buscar producto..." [(ngModel)]="searchTerm"
      (ngModelChange)="filterProducts()" />
  </div>
  <table class="table">
    <thead>
      <tr>
        <th (click)="sortBy('name')">Producto</th>
        <th (click)="sortBy('total_quantity')">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts" (click)="openEditModal(productModal, product)" [ngClass]="{
            'table-success': product.status === 'Registrado',
            'table-warning': product.status === 'Registro parcial',
            'table-primary': product.status === 'Facturada'
          }">
        <td>{{ product.category.substring(0, 3).toUpperCase() + ' - ' + product.name }}</td>
        <td>{{ round(product.total_quantity) + ' ' + product.unit }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #productModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ this.selectedProduct.name }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <div>
      <label>Precio de Compra sugerido:</label>
      <span class="form-control">{{ redondear(this.selectedProduct.price_purchase * 0.95 ) }}</span>
    </div>

    <!-- Campo Precio de Compra con Validación -->
    <div>
      <label>Precio de Compra:</label>
      <input type="number" [(ngModel)]="this.selectedProduct.final_price_purchase" (ngModelChange)="validatePrice()"
        class="form-control"
        [ngClass]="{'is-invalid': !isPriceValid && selectedProduct.final_price_purchase !== null}" />
      <div *ngIf="!isPriceValid && selectedProduct.final_price_purchase !== null" class="invalid-feedback">
        El precio debe estar entre {{ this.selectedProduct.price_purchase * 0.6 | currency:'USD'}} y {{
        this.selectedProduct.price_purchase * 1.4 | currency:'USD'}} del sugerido.
      </div>
    </div>

    <div>
      <label>Proveedor:</label>
      <select [(ngModel)]="this.selectedProduct.proveedor" class="form-control">
        <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{ supplier.nickname }}</option>
      </select>
    </div>

    <div *ngIf="selectedProduct.clients?.length">
      <h6 class="mt-3">Clientes que pidieron este producto:</h6>
      <table class="table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of selectedProduct.clients">
            <td>{{ client.client_name }}</td>
            <td>{{ client.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <label>Inventario:</label>
      <span class="form-control">{{ this.selectedProduct.inventory }}</span>
    </div>
    <div>
      <label>Pronóstico:</label>
      <input type="number" [(ngModel)]="this.selectedProduct.forecast"
      class="form-control"/>
    </div>
  </div>
  <!-- Botón Guardar con Condicional de Activación -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Cancelar</button>
    <button type="button" class="btn" [ngClass]="{'btn-danger': !isPriceValid, 'btn-primary': isPriceValid}"
      (click)="savePrice(); modal.close('Save click')" [disabled]="!isPriceValid"
      *ngIf="selectedProduct.status != 'Facturada'">
      Guardar
    </button>
  </div>
</ng-template>
